@import "tailwindcss";
@import "primeicons/primeicons.css";

@layer base {
  :root {
    color-scheme: light;
  }

  body {
    min-height: 100vh;
  }

  #app {
    height: 100vh;
    overflow: hidden;
  }
}
